.navbtn{
    margin:20px;
}

.navbtn a{
    text-decoration: none;
    color:white;
}

#name{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

.wel{
    height:200px;
    background-color: #a2c73c;
}

.wel h1{
    font-size: 20px;
}

.wel button{
    width:100px;
    margin-top:40px;
}

.head{
    height:70px;
}

.navbar{
    background-color: #a2c73c;
}





