body{
    margin:0px;
    padding:0px;
}

#nvbtn{
    margin-top:7px;
}

#nvbtn a{
    text-decoration:none;
    color:white;
}

#signin{
    margin-top:20px;
}

.navbtn{
    margin:20px;
}

.navbtn a{
    text-decoration: none;
    color:white;
}









