.navbtn{
    margin:20px;
}

.navbtn a{
    text-decoration: none;
    color:white;
}

#name{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}

.wel{
    height:200px;
}

.wel h1{
    font-size: 20px;
}

.wel button{
    margin-top:70px;
    width:150px;
    margin-left: 85px;
}

.head{
    height:70px;
}



